.main-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 150px;
}

.container {
  width: 40vw;
  height: fit-content;
  min-height: 500px;
  border-radius: 15px;
}

.text {
  background-color: bisque;
}

.markdown {
  border: 1px solid #000;
}

.textarea {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
  outline: none;
  border: none;
  resize: none;
  padding: 20px;
  font-size: 1vw;
}

.text-font {
  color: #000;
}

.markdown-font {
  color: #000;
}
